/*******************
  BUTTON
*******************/
%btn-default {
  font-size: $regular-text-large;
  width: 80px;
  border: solid 3px;
  color: $white;
  padding: 6px;
  &:hover,
  &:focus {
    padding: 6px;
    border: solid 3px;
  }
}

/* Exemplo de herança.
 * Para fazer um grupo de estilo ser pode ser herdado basta adicionar o '%' no começo
 * do nome. Para importar esse estilo dentro de outro deve-se usar o '@extend'.
 * O grupo de estilos declardo com o '%' não pode ser usado nas tags, so funciona
 * para ser herdado.
 * */
.btn {
  &-save {
    @extend %btn-default;
    background-color: $btn-green2;
    border-color: $btn-green2-hover;
    &:hover,
    &:focus {
      background-color: $btn-green2-hover;
      border-color: $btn-green2-hover;
    }
  }
  &-publish {
    @extend %btn-default;
    background-color: $btn-orange;
    border-color: $btn-orange-hover;
    &:hover,
    &:focus {
      background-color: $btn-orange-hover;
      border-color: $btn-orange-hover;
    }
  }
  &-cancel {
    @extend %btn-default;
    background-color: $btn-red;
    border-color: $btn-red-hover;
    &:hover,
    &:focus {
      background-color: $btn-red-hover;
      border-color: $btn-red-hover;
    }
  }
  &-finish {
    @extend %btn-default;
    background-color: $btn-purple;
    border-color: $btn-purple-hover;
    &:hover,
    &:focus {
      background-color: $btn-purple-hover;
      border-color: $btn-purple-hover;
    }
  }
  &-login {
    @extend %btn-default;
    background-color: $btn-blue;
    border-color: $btn-blue-hover;
    &:hover,
    &:focus {
      background-color: $btn-blue-hover;
      border-color: $btn-blue-hover;
    }
  }
}
@media (min-width: 801px) {
  %btn-default {
    font-size: $regular-text;
  }
}
